# Load the dataset

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
df = pd.read_csv("/kaggle/input/changepay-dataset-unfiltered/changepay dataset.csv")
df

,External ID,Created,Modified,Order Short Number,Order Status,Item Total,Delivery Charges,Other Charges,Order Total,Rating Value,...,Order Order Item → Unit Price,Order Order Item → Product Sk U ID,Order Order Item → Unit Price With Addon,Order Order Item → Rating Val,Order Order Item → Business Comission,Customer → Profile Name,Cluster → Cluster Name,Payment V2 → Info → Pay Via,Delivery Fulfillment → Info → Delivery Address → Address ID,Delivery Fulfillment → Info → Delivery Address → Address Name
0,e72f9155-4ccb-4fbc-be6d-1c9957367197,2023-11-05T13:56:08.498625+05:30,2023-12-29T12:55:12.031871+05:30,05ccdc,COMPLETED,10000,0,500,10500,2.0,...,5000,355521,5000,2.0,0,Achar Aditya,"National Institute of Technology, Calicut",upi,db8d5d02-64d4-49ae-bb0b-135927833210,MAINROAD ENTRANCE GATE -MEGA BO
1,e72f9155-4ccb-4fbc-be6d-1c9957367197,2023-11-05T13:56:08.498625+05:30,2023-12-29T12:55:12.031871+05:30,05ccdc,COMPLETED,10000,0,500,10500,2.0,...,5000,355153,5000,4.0,0,Achar Aditya,"National Institute of Technology, Calicut",upi,db8d5d02-64d4-49ae-bb0b-135927833210,MAINROAD ENTRANCE GATE -MEGA BO
2,ab4d8e06-5f4e-428d-99a6-325d1d3593f7,2023-10-15T20:26:16.680547+05:30,2023-12-06T17:13:17.581218+05:30,d127a0,COMPLETED,72000,0,500,72500,NaN,...,72000,353317,72000,NaN,0,j.sri venkata gowtham,"National Institute of Technology, Calicut",upi,49a25fd6-c0af-46c3-a5b5-584f19293c22,BLOCK B
3,c32091f1-26a7-4664-bbf3-97b006b5d625,2023-10-14T16:20:14.76221+05:30,2023-12-06T17:13:17.532478+05:30,1601b8,COMPLETED,12000,0,500,12500,NaN,...,12000,353310,12000,NaN,0,Janhavi,"National Institute of Technology, Calicut",upi,09ea241e-2db2-42aa-b452-53e1f0b314cd,MAINROAD ENTRANCE Gate - MEGA
4,90fde31c-1be3-4857-a449-dd7b01679dd6,2023-09-25T20:13:01.833086+05:30,2023-12-06T17:13:17.473469+05:30,a31ea1,COMPLETED,200,0,0,200,NaN,...,100,352808,100,NaN,0,Madhusudan Agarwal,"National Institute of Technology, Calicut",upi,db8d5d02-64d4-49ae-bb0b-135927833210,MAINROAD-MEGA BOYS HOSTEL ENTRAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167422,35ae4a56-5dd4-4166-bb40-0e61d2e2bb9e,2023-06-04T14:11:00.506763+05:30,2023-06-07T22:19:43.517893+05:30,993f81,COMPLETED,12000,0,1000,13000,NaN,...,6000,180338,6000,NaN,0,sakshi,"MAHE, KMC HOSTELS",upi,30941296-5393-494d-8e8f-06a8c82ed66c,NIH C Block / MIT students
167423,2567e93e-b9dc-44b8-960a-f9ea5d1b7789,2023-06-04T11:52:50.666237+05:30,2023-06-07T22:23:08.587979+05:30,47981a,COMPLETED,20500,0,2075,22575,NaN,...,20500,189512,20500,NaN,0,Rashmi,"MAHE, KMC HOSTELS",upi,c33cc576-888c-4630-895e-8fc6b977dac5,Sharada Block
167424,dc27284a-72ed-4862-94b1-7530483ec12e,2023-06-04T09:35:43.365282+05:30,2023-06-07T22:24:03.920719+05:30,5b8d37,COMPLETED,10000,0,1500,11500,NaN,...,1000,204552,1000,NaN,0,vanshika saini,"MAHE, KMC HOSTELS",upi,2e963897-7e9e-4142-854c-c54f5b01c4ec,Indira Block
167425,dc27284a-72ed-4862-94b1-7530483ec12e,2023-06-04T09:35:43.365282+05:30,2023-06-07T22:24:03.920719+05:30,5b8d37,COMPLETED,10000,0,1500,11500,NaN,...,8000,180416,8000,NaN,0,vanshika saini,"MAHE, KMC HOSTELS",upi,2e963897-7e9e-4142-854c-c54f5b01c4ec,Indira Block
167426,dc27284a-72ed-4862-94b1-7530483ec12e,2023-06-04T09:35:43.365282+05:30,2023-06-07T22:24:03.920719+05:30,5b8d37,COMPLETED,10000,0,1500,11500,NaN,...,1000,204553,1000,NaN,0,vanshika saini,"MAHE, KMC HOSTELS",upi,2e963897-7e9e-4142-854c-c54f5b01c4ec,Indira Block

# Preprocess and clean the dataset
Most of our preprocessing and cleaning has been done in the previous assignment.
Here we are dropping all the irrelevant columns and handling discrepancies in the monetary data.

In [2]:
df = df.drop(['Order Order Item → Info → Sku Charges', 'Order Order Item → Business Comission', 'Customer → Profile Name'], axis=1)
condition = 'test'
df = df[~df['Order Order Item → Info → Product Name'].str.lower().str.contains(condition.lower())]
df = df.drop(['Order Order Item → Info → Unit Name'], axis=1)
df = df.dropna(subset=['Delivery Fulfillment → Info → Delivery Address → Address ID', 'Delivery Fulfillment → Info → Delivery Address → Address Name'])
df = df.drop(['Order Status'], axis=1)
df = df.drop(['Cluster → Cluster Name'], axis=1)
df=df.drop(['Rating Comment'], axis=1)
df = df.drop(['External ID'], axis=1)
df = df.drop(['Payment V2 ID'], axis=1)
df = df.drop(['Business Comission'], axis=1)
df = df.drop(['Order Order Item → Rating Val'], axis=1)
df = df.drop(['Delivery Fulfillment ID'], axis=1)
df = df.drop(['Platform Charge'], axis=1)
df = df.drop(['Order Order Item → Info → Prop → Quant → Unit'], axis=1)
df = df.drop(['Order Order Item → Info → Prop → Quant → Val'], axis=1)
df = df.drop(['Order Order Item → Unit Price With Addon'], axis=1)
monetary_cols = ['Item Total', 'Delivery Charges', 'Other Charges', 'Order Total', 'Offer Discount', 'Order Order Item → Unit Price']

# Divide the values in the specified columns by 100
df[monetary_cols] = df[monetary_cols] / 100
df.head()

,Created,Modified,Order Short Number,Item Total,Delivery Charges,Other Charges,Order Total,Rating Value,Business ID,Customer ID,...,Business → Business Name,Order Order Item → ID,Order Order Item → Info → Product Name,Order Order Item → Info → Sku Code,Order Order Item → Quantity,Order Order Item → Unit Price,Order Order Item → Product Sk U ID,Payment V2 → Info → Pay Via,Delivery Fulfillment → Info → Delivery Address → Address ID,Delivery Fulfillment → Info → Delivery Address → Address Name
0,2023-11-05T13:56:08.498625+05:30,2023-12-29T12:55:12.031871+05:30,05ccdc,100.0,0.0,5.0,105.0,2.0,8786,61014,...,ZAIKA RESTAURANT,1662517,Egg Parotta Sandwich,31648528592,1,50.0,355521,upi,db8d5d02-64d4-49ae-bb0b-135927833210,MAINROAD ENTRANCE GATE -MEGA BO
1,2023-11-05T13:56:08.498625+05:30,2023-12-29T12:55:12.031871+05:30,05ccdc,100.0,0.0,5.0,105.0,2.0,8786,61014,...,ZAIKA RESTAURANT,1662518,Omelette Burger,31612793842,1,50.0,355153,upi,db8d5d02-64d4-49ae-bb0b-135927833210,MAINROAD ENTRANCE GATE -MEGA BO
2,2023-10-15T20:26:16.680547+05:30,2023-12-06T17:13:17.581218+05:30,d127a0,720.0,0.0,5.0,725.0,NaN,8753,61524,...,FOODIE'S RESTAURANT,1600475,Peri Peri Mandhi,3147727652,1,720.0,353317,upi,49a25fd6-c0af-46c3-a5b5-584f19293c22,BLOCK B
3,2023-10-14T16:20:14.76221+05:30,2023-12-06T17:13:17.532478+05:30,1601b8,120.0,0.0,5.0,125.0,NaN,8753,61421,...,FOODIE'S RESTAURANT,1594604,Hyderabadi Biryani,31476910635,1,120.0,353310,upi,09ea241e-2db2-42aa-b452-53e1f0b314cd,MAINROAD ENTRANCE Gate - MEGA
7,2023-10-16T18:08:19.088519+05:30,2023-12-06T17:13:17.330249+05:30,472d13,450.0,0.0,5.0,435.0,NaN,8753,61246,...,FOODIE'S RESTAURANT,1602916,Chicken Noodles,3147163779,3,150.0,353251,upi,49a25fd6-c0af-46c3-a5b5-584f19293c22,BLOCK B

# Retain only the orders of cluster 48
Right now, we will only be working on the data from NITK, which corresponds to cluster ID 48

In [3]:
df.columns

Index(['Created', 'Modified', 'Order Short Number', 'Item Total',
       'Delivery Charges', 'Other Charges', 'Order Total', 'Rating Value',
       'Business ID', 'Customer ID', 'Offer Discount', 'Cluster ID',
       'Order Status Modified Dt', 'Business → Business Name',
       'Order Order Item → ID', 'Order Order Item → Info → Product Name',
       'Order Order Item → Info → Sku Code', 'Order Order Item → Quantity',
       'Order Order Item → Unit Price', 'Order Order Item → Product Sk U ID',
       'Payment V2 → Info → Pay Via',
       'Delivery Fulfillment → Info → Delivery Address → Address ID',
       'Delivery Fulfillment → Info → Delivery Address → Address Name'],
      dtype='object')

Filter the dataset by retaining only the rows that have value 48 for cluster ID

In [4]:
nitk_df = df[df['Cluster ID'] == 48]
nitk_df.columns

Index(['Created', 'Modified', 'Order Short Number', 'Item Total',
       'Delivery Charges', 'Other Charges', 'Order Total', 'Rating Value',
       'Business ID', 'Customer ID', 'Offer Discount', 'Cluster ID',
       'Order Status Modified Dt', 'Business → Business Name',
       'Order Order Item → ID', 'Order Order Item → Info → Product Name',
       'Order Order Item → Info → Sku Code', 'Order Order Item → Quantity',
       'Order Order Item → Unit Price', 'Order Order Item → Product Sk U ID',
       'Payment V2 → Info → Pay Via',
       'Delivery Fulfillment → Info → Delivery Address → Address ID',
       'Delivery Fulfillment → Info → Delivery Address → Address Name'],
      dtype='object')

In [5]:
columns_to_remove = ['Delivery Fulfillment → Info → Delivery Address → Address ID',
                     'Payment V2 → Info → Pay Via',
                     'Order Order Item → Product Sk U ID',
                     'Order Order Item → Info → Sku Code',
                     'Order Status Modified Dt',
                     'Offer Discount',
                     'Rating Value',
                     'Delivery Charges',
                     'Other Charges',
                     'Order Order Item → ID',
                     'Item Total',
                     'Cluster ID',
                     'Modified']

# Drop the specified columns
nitk_df = nitk_df.drop(columns=columns_to_remove)

In [6]:
nitk_df.columns

Index(['Created', 'Order Short Number', 'Order Total', 'Business ID',
       'Customer ID', 'Business → Business Name',
       'Order Order Item → Info → Product Name', 'Order Order Item → Quantity',
       'Order Order Item → Unit Price',
       'Delivery Fulfillment → Info → Delivery Address → Address Name'],
      dtype='object')

In [7]:
nitk_df

,Created,Order Short Number,Order Total,Business ID,Customer ID,Business → Business Name,Order Order Item → Info → Product Name,Order Order Item → Quantity,Order Order Item → Unit Price,Delivery Fulfillment → Info → Delivery Address → Address Name
84094,2023-09-17T01:27:12.344257+05:30,471ec2,67.0,4583,57170,"Girls Hostel, Night Canteen",Double Omlet,2,30.0,Other
84095,2023-06-07T21:32:54.81317+05:30,ede0fc,55.0,4150,17715,Tripthi Night Canteen ( NITK 8th Block Night C...,Dal Kichdi.,1,50.0,Kailash Hostel ( Orange Tower )
84096,2023-11-09T00:48:01.795612+05:30,82859c,192.0,3496,63194,Sai Hospitality Services NITK 7th Block Night ...,Roll Shawarma Only Chicken,1,80.0,Pushpagiri Hostel ( Old PG Block
84097,2023-11-09T00:48:01.795612+05:30,82859c,192.0,3496,63194,Sai Hospitality Services NITK 7th Block Night ...,Parota,2,15.0,Pushpagiri Hostel ( Old PG Block
84098,2023-11-09T00:48:01.795612+05:30,82859c,192.0,3496,63194,Sai Hospitality Services NITK 7th Block Night ...,Chicken Masala,1,75.0,Pushpagiri Hostel ( Old PG Block
...,...,...,...,...,...,...,...,...,...,...
164269,2023-06-04T01:16:30.691716+05:30,df0158,120.0,4150,37417,Tripthi Night Canteen ( NITK 8th Block Night C...,Egg Fried Rice.,1,55.0,Girls Hostel Block
164270,2023-06-04T01:16:30.691716+05:30,df0158,120.0,4150,37417,Tripthi Night Canteen ( NITK 8th Block Night C...,Aloo Parota,2,30.0,Girls Hostel Block
164271,2023-06-04T01:24:23.059418+05:30,ea6c7d,110.0,4150,30169,Tripthi Night Canteen ( NITK 8th Block Night C...,meat plate shawarama,1,105.0,Vindhya Hostel ( 3rd Block )
164272,2023-06-04T01:16:12.464912+05:30,332894,105.0,4150,34915,Tripthi Night Canteen ( NITK 8th Block Night C...,Meat Plt Shwarma (ONLY CHICKEN),1,100.0,Nilgiri Hostel ( 5th Block )
164273,2023-06-04T01:11:56.051809+05:30,74f15a,60.0,4150,27019,Tripthi Night Canteen ( NITK 8th Block Night C...,Dal Kichdi Thadka.,1,55.0,Girls Hostel Block

We are getting the data ready to be fed into the apriori algorithm

- The data was at the level of items of an order. 
- Meaning every item of each order was a row on this, we have compiled all the items of the order in a list and have made the dataset at order level.
- This is important because we will need this data in form of transactions for the algorithm

In [8]:
columns_to_agg = [
                  'Order Order Item → Info → Product Name',
                  'Order Order Item → Quantity',
                  'Order Order Item → Unit Price']

aggregated_df = nitk_df.groupby('Order Short Number').agg({col: list for col in columns_to_agg}).reset_index()

In [9]:
columns_to_retain = ['Created', 'Order Short Number', 'Business ID', 'Customer ID', 'Business → Business Name', 'Delivery Fulfillment → Info → Delivery Address → Address Name', 'Order Total']
nitk_df = pd.merge(nitk_df[columns_to_retain], aggregated_df, on='Order Short Number', how='left')

In [10]:
nitk_df['Created'] = pd.to_datetime(nitk_df['Created'])
nitk_df['Created'] = nitk_df['Created'].dt.strftime('%Y-%m-%d %H:%M:%S')
nitk_df

,Created,Order Short Number,Business ID,Customer ID,Business → Business Name,Delivery Fulfillment → Info → Delivery Address → Address Name,Order Total,Order Order Item → Info → Product Name,Order Order Item → Quantity,Order Order Item → Unit Price
0,2023-09-17 01:27:12,471ec2,4583,57170,"Girls Hostel, Night Canteen",Other,67.0,[Double Omlet],[2],[30.0]
1,2023-06-07 21:32:54,ede0fc,4150,17715,Tripthi Night Canteen ( NITK 8th Block Night C...,Kailash Hostel ( Orange Tower ),55.0,[Dal Kichdi.],[1],[50.0]
2,2023-11-09 00:48:01,82859c,3496,63194,Sai Hospitality Services NITK 7th Block Night ...,Pushpagiri Hostel ( Old PG Block,192.0,"[Roll Shawarma Only Chicken, Parota, Chicken M...","[1, 2, 1]","[80.0, 15.0, 75.0]"
3,2023-11-09 00:48:01,82859c,3496,63194,Sai Hospitality Services NITK 7th Block Night ...,Pushpagiri Hostel ( Old PG Block,192.0,"[Roll Shawarma Only Chicken, Parota, Chicken M...","[1, 2, 1]","[80.0, 15.0, 75.0]"
4,2023-11-09 00:48:01,82859c,3496,63194,Sai Hospitality Services NITK 7th Block Night ...,Pushpagiri Hostel ( Old PG Block,192.0,"[Roll Shawarma Only Chicken, Parota, Chicken M...","[1, 2, 1]","[80.0, 15.0, 75.0]"
...,...,...,...,...,...,...,...,...,...,...
79395,2023-06-04 01:16:30,df0158,4150,37417,Tripthi Night Canteen ( NITK 8th Block Night C...,Girls Hostel Block,120.0,"[Egg Fried Rice., Aloo Parota]","[1, 2]","[55.0, 30.0]"
79396,2023-06-04 01:16:30,df0158,4150,37417,Tripthi Night Canteen ( NITK 8th Block Night C...,Girls Hostel Block,120.0,"[Egg Fried Rice., Aloo Parota]","[1, 2]","[55.0, 30.0]"
79397,2023-06-04 01:24:23,ea6c7d,4150,30169,Tripthi Night Canteen ( NITK 8th Block Night C...,Vindhya Hostel ( 3rd Block ),110.0,[meat plate shawarama],[1],[105.0]
79398,2023-06-04 01:16:12,332894,4150,34915,Tripthi Night Canteen ( NITK 8th Block Night C...,Nilgiri Hostel ( 5th Block ),105.0,[Meat Plt Shwarma (ONLY CHICKEN)],[1],[100.0]
79399,2023-06-04 01:11:56,74f15a,4150,27019,Tripthi Night Canteen ( NITK 8th Block Night C...,Girls Hostel Block,60.0,[Dal Kichdi Thadka.],[1],[55.0]

- We dropped all the duplicate entries and were left with 40000+ orders

In [11]:
nitk_df = nitk_df.drop_duplicates(subset=['Order Short Number'])

In [12]:
nitk_df

,Created,Order Short Number,Business ID,Customer ID,Business → Business Name,Delivery Fulfillment → Info → Delivery Address → Address Name,Order Total,Order Order Item → Info → Product Name,Order Order Item → Quantity,Order Order Item → Unit Price
0,2023-09-17 01:27:12,471ec2,4583,57170,"Girls Hostel, Night Canteen",Other,67.0,[Double Omlet],[2],[30.0]
1,2023-06-07 21:32:54,ede0fc,4150,17715,Tripthi Night Canteen ( NITK 8th Block Night C...,Kailash Hostel ( Orange Tower ),55.0,[Dal Kichdi.],[1],[50.0]
2,2023-11-09 00:48:01,82859c,3496,63194,Sai Hospitality Services NITK 7th Block Night ...,Pushpagiri Hostel ( Old PG Block,192.0,"[Roll Shawarma Only Chicken, Parota, Chicken M...","[1, 2, 1]","[80.0, 15.0, 75.0]"
5,2023-10-10 23:12:37,33c9ef,3489,28373,Food court NITK,Everest Hostel ( Grey Tower ),42.0,[Plain Dosa],[1],[35.0]
6,2023-09-26 22:43:53,4750b4,3496,22283,Sai Hospitality Services NITK 7th Block Night ...,Work,252.0,"[Alfoum Chicken, Egg Fried Rice]","[1, 1]","[195.0, 55.0]"
...,...,...,...,...,...,...,...,...,...,...
79394,2023-06-04 01:30:57,68a479,4150,45868,Tripthi Night Canteen ( NITK 8th Block Night C...,Vindhya Hostel ( 3rd Block ),65.0,[Chicken Kabab],[2],[30.0]
79395,2023-06-04 01:16:30,df0158,4150,37417,Tripthi Night Canteen ( NITK 8th Block Night C...,Girls Hostel Block,120.0,"[Egg Fried Rice., Aloo Parota]","[1, 2]","[55.0, 30.0]"
79397,2023-06-04 01:24:23,ea6c7d,4150,30169,Tripthi Night Canteen ( NITK 8th Block Night C...,Vindhya Hostel ( 3rd Block ),110.0,[meat plate shawarama],[1],[105.0]
79398,2023-06-04 01:16:12,332894,4150,34915,Tripthi Night Canteen ( NITK 8th Block Night C...,Nilgiri Hostel ( 5th Block ),105.0,[Meat Plt Shwarma (ONLY CHICKEN)],[1],[100.0]
79399,2023-06-04 01:11:56,74f15a,4150,27019,Tripthi Night Canteen ( NITK 8th Block Night C...,Girls Hostel Block,60.0,[Dal Kichdi Thadka.],[1],[55.0]

- Renamed the columns for convenience

In [13]:
nitk_df.columns
new_names = {
    'Created': 'Order Date',
    'Order Short Number': 'Order ID',
    'Business ID': 'Business ID',
    'Customer ID': 'Customer ID',
    'Business → Business Name': 'Business Name',
    'Delivery Fulfillment → Info → Delivery Address → Address Name': 'Delivery Address',
    'Order Total': 'Order Total',
    'Order Order Item → Info → Product Name': 'Product Names',
    'Order Order Item → Quantity': 'Quantities',
    'Order Order Item → Unit Price': 'Unit Prices'
}

# Rename the columns using the dictionary
nitk_df = nitk_df.rename(columns=new_names)

In [14]:
nitk_df

,Order Date,Order ID,Business ID,Customer ID,Business Name,Delivery Address,Order Total,Product Names,Quantities,Unit Prices
0,2023-09-17 01:27:12,471ec2,4583,57170,"Girls Hostel, Night Canteen",Other,67.0,[Double Omlet],[2],[30.0]
1,2023-06-07 21:32:54,ede0fc,4150,17715,Tripthi Night Canteen ( NITK 8th Block Night C...,Kailash Hostel ( Orange Tower ),55.0,[Dal Kichdi.],[1],[50.0]
2,2023-11-09 00:48:01,82859c,3496,63194,Sai Hospitality Services NITK 7th Block Night ...,Pushpagiri Hostel ( Old PG Block,192.0,"[Roll Shawarma Only Chicken, Parota, Chicken M...","[1, 2, 1]","[80.0, 15.0, 75.0]"
5,2023-10-10 23:12:37,33c9ef,3489,28373,Food court NITK,Everest Hostel ( Grey Tower ),42.0,[Plain Dosa],[1],[35.0]
6,2023-09-26 22:43:53,4750b4,3496,22283,Sai Hospitality Services NITK 7th Block Night ...,Work,252.0,"[Alfoum Chicken, Egg Fried Rice]","[1, 1]","[195.0, 55.0]"
...,...,...,...,...,...,...,...,...,...,...
79394,2023-06-04 01:30:57,68a479,4150,45868,Tripthi Night Canteen ( NITK 8th Block Night C...,Vindhya Hostel ( 3rd Block ),65.0,[Chicken Kabab],[2],[30.0]
79395,2023-06-04 01:16:30,df0158,4150,37417,Tripthi Night Canteen ( NITK 8th Block Night C...,Girls Hostel Block,120.0,"[Egg Fried Rice., Aloo Parota]","[1, 2]","[55.0, 30.0]"
79397,2023-06-04 01:24:23,ea6c7d,4150,30169,Tripthi Night Canteen ( NITK 8th Block Night C...,Vindhya Hostel ( 3rd Block ),110.0,[meat plate shawarama],[1],[105.0]
79398,2023-06-04 01:16:12,332894,4150,34915,Tripthi Night Canteen ( NITK 8th Block Night C...,Nilgiri Hostel ( 5th Block ),105.0,[Meat Plt Shwarma (ONLY CHICKEN)],[1],[100.0]
79399,2023-06-04 01:11:56,74f15a,4150,27019,Tripthi Night Canteen ( NITK 8th Block Night C...,Girls Hostel Block,60.0,[Dal Kichdi Thadka.],[1],[55.0]

- Saved the dataset for NITK in a csv file

In [15]:
nitk_df.to_csv("Changepay_NITK.csv")

- We extracted the data from block 7 (one of the restaurants) to test the apriori algorithm

In [16]:
df_b7 = nitk_df[nitk_df['Business Name'] == 'Sai Hospitality Services NITK 7th Block Night Canteen']

In [17]:
transactions = df_b7['Product Names'].tolist()

In [18]:
transactions
# Calculate the average length of the lists in the transactions list
total_length = sum(len(transaction) for transaction in transactions)
average_length = total_length / len(transactions)
average_length

1.9948192364004955

- This code uses the TransactionEncoder from the mlxtend library to perform one-hot encoding on a transactional dataset (transactions). The resulting binary matrix is converted into a pandas DataFrame (encoded_df), where each row represents a transaction, and each column corresponds to an item, with values indicating the presence or absence of the item in the transaction.

In [19]:
from mlxtend.preprocessing import TransactionEncoder
encoder = TransactionEncoder()

encodings = encoder.fit(transactions).transform(transactions)

encoded_df = pd.DataFrame(encodings, columns=encoder.columns_)
encoded_df

,7Up,Afgani Chicken Tikka,Alfoum Chicken,Aloo Parota,Alu Mutter Masala,Alu onion porota,Alu / Tomato Sandwich,Alu Capsicum Masala,Alu Gobi Masala,Alu Jeera,...,chicken Manchurian rice,chicken Manchurian soup,chicken chilly rice,combination rice,combination sezwan rice,kaju drashk cone,mountain dew,paneer butter masala,tripple noodles,veg sezwan noodles
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8874,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8875,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8876,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8877,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8878,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

- This code defines a function market_basket_analysis that performs market basket analysis using the Apriori algorithm from the mlxtend library. The function takes a transactional dataset (data), minimum support (min_support), and minimum confidence (min_confidence) as parameters and returns the generated association rules.

In [20]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

def market_basket_analysis(data, min_support, min_confidence):
    # Apply Apriori algorithm
    frequent_itemsets = apriori(data, min_support=min_support, use_colnames=True)
    # Generate association rules
    rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=min_confidence)

    return rules

In [21]:
frequent_itemsets = apriori(encoded_df, min_support=0.005, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0    0.025791                                              (7Up)
1    0.016669                             (Afgani Chicken Tikka)
2    0.030071                                   (Alfoum Chicken)
3    0.057552                                (Alu  onion porota)
4    0.010024                            (Alu / Tomato Sandwich)
..        ...                                                ...
103  0.007095                (Roll Shawarma Only Chicken, Pepsi)
104  0.009010            (Roll Shawarma Veg With Chicken, Pepsi)
105  0.005068                            (Pepsi, Veg Fried Rice)
106  0.005857  (Plate Shawarma Only Chicken, Roll Shawarma On...
107  0.005857  (Roll Shawarma Veg With Chicken, Roll Shawarma...

[108 rows x 2 columns]

- The generated rules are printed below, as one can see, these rules do make sense

In [22]:
rules = market_basket_analysis(encoded_df, 0.005, 0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Egg Parota),(Alu onion porota),0.070278,0.057552,0.008672,0.123397,2.144121,0.004628,1.075115,0.573944
1,(Alu onion porota),(Egg Parota),0.057552,0.070278,0.008672,0.150685,2.144121,0.004628,1.094672,0.566194
2,(Bread Omlet),(Roll Shawarma Only Chicken),0.039194,0.151368,0.006532,0.166667,1.101066,0.000600,1.018358,0.095534
3,(Butter Chicken),(Parota),0.011037,0.119270,0.007546,0.683673,5.732140,0.006229,2.784243,0.834759
4,(Chapathi),(Egg Burji),0.066449,0.023989,0.010362,0.155932,6.500103,0.008767,1.156318,0.906385
5,(Egg Burji),(Chapathi),0.023989,0.066449,0.010362,0.431925,6.500103,0.008767,1.643359,0.866954
6,(Paneer Tika Masala),(Chapathi),0.014303,0.066449,0.005068,0.354331,5.332377,0.004118,1.445866,0.824256
7,(Chapathi),(Parota),0.066449,0.119270,0.010925,0.164407,1.378440,0.002999,1.054017,0.294084
8,(Chicken Curry),(Parota),0.012727,0.119270,0.006082,0.477876,4.006669,0.004564,1.686822,0.760089
9,(Chicken Fried Rice),(Chicken Kabab),0.057552,0.151368,0.013628,0.236791,1.564333,0.004916,1.111925,0.382780
10,(Chicken Fried Rice),(Double Omlet),0.057552,0.045951,0.005857,0.101761,2.214554,0.003212,1.062133,0.581933
11,(Double Omlet),(Chicken Fried Rice),0.045951,0.057552,0.005857,0.127451,2.214554,0.003212,1.080109,0.574857
12,(Chicken Fried Rice),(Roll Shawarma Only Chicken),0.057552,0.151368,0.010024,0.174168,1.150625,0.001312,1.027608,0.138901
13,(Chicken Noodles),(Chicken Kabab),0.035477,0.151368,0.005969,0.168254,1.111553,0.000599,1.020301,0.104049
14,(Chicken Schezwan Fried Rice),(Chicken Kabab),0.029958,0.151368,0.005969,0.199248,1.316313,0.001434,1.059793,0.247723
15,(Double Omlet),(Chicken Kabab),0.045951,0.151368,0.008109,0.176471,1.165835,0.001153,1.030481,0.149097
16,(Chicken Kabab),(Egg Fried Rice),0.151368,0.081428,0.022750,0.150298,1.845771,0.010425,1.081051,0.539953
17,(Egg Fried Rice),(Chicken Kabab),0.081428,0.151368,0.022750,0.279391,1.845771,0.010425,1.177660,0.498841
18,(Egg Parota),(Chicken Kabab),0.070278,0.151368,0.007996,0.113782,0.751690,-0.002642,0.957588,-0.262160
19,(Chicken Kabab),(Parota),0.151368,0.119270,0.020160,0.133185,1.116662,0.002106,1.016052,0.123109
20,(Parota),(Chicken Kabab),0.119270,0.151368,0.020160,0.169027,1.116662,0.002106,1.021251,0.118622
21,(Pepsi),(Chicken Kabab),0.074445,0.151368,0.008560,0.114977,0.759586,-0.002709,0.958881,-0.254824
22,(Plate Shawarma Only Chicken),(Chicken Kabab),0.060705,0.151368,0.009798,0.161410,1.066339,0.000610,1.011974,0.066233
23,(Plate Shawarma Veg With Chicken),(Chicken Kabab),0.049443,0.151368,0.006082,0.123007,0.812632,-0.001402,0.967660,-0.195211
24,(Chicken Kabab),(Roll Shawarma Only Chicken),0.151368,0.151368,0.022750,0.150298,0.992926,-0.000162,0.998740,-0.008325
25,(Roll Shawarma Only Chicken),(Chicken Kabab),0.151368,0.151368,0.022750,0.150298,0.992926,-0.000162,0.998740,-0.008325
26,(Roll Shawarma Veg With Chicken),(Chicken Kabab),0.092578,0.151368,0.010699,0.115572,0.763513,-0.003314,0.959526,-0.254474
27,(Chicken Kadai),(Parota),0.010249,0.119270,0.007095,0.692308,5.804533,0.005873,2.862372,0.836292
28,(Chicken Kolapuri),(Parota),0.011488,0.119270,0.006758,0.588235,4.931956,0.005387,2.138915,0.806506
29,(Chicken Masala),(Parota),0.015204,0.119270,0.010925,0.718519,6.024293,0.009111,3.128909,0.846882
30,(Double Omlet),(Egg Fried Rice),0.045951,0.081428,0.005631,0.122549,1.504997,0.001890,1.046864,0.351708
31,(Egg Full Fry),(Egg Fried Rice),0.030409,0.081428,0.005969,0.196296,2.410671,0.003493,1.142924,0.603530
32,(Paneer Tika Masala),(Parota),0.014303,0.119270,0.007884,0.551181,4.621281,0.006178,1.962328,0.794981
33,(Plate Shawarma Only Chicken),(Pepsi),0.060705,0.074445,0.009911,0.163265,2.193090,0.005392,1.106151,0.579182
34,(Pepsi),(Plate Shawarma Only Chicken),0.074445,0.060705,0.009911,0.133132,2.193090,0.005392,1.083550,0.587780
35,(Pepsi),(Roll Shawarma Veg With Chicken),0.074445,0.092578,0.009010,0.121029,1.307317,0.002118,1.032368,0.253982
36,(Veg Fried Rice),(Pepsi),0.021962,0.074445,0.005068,0.230769,3.099849,0.003433,1.203221,0.692615

In [23]:
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets_fp= fpgrowth(encoded_df, min_support=0.005, use_colnames=True)
frequent_itemsets_fp

      support                      itemsets
0    0.151368  (Roll Shawarma Only Chicken)
1    0.119270                      (Parota)
2    0.015204              (Chicken Masala)
3    0.081428              (Egg Fried Rice)
4    0.030071              (Alfoum Chicken)
..        ...                           ...
103  0.005068       (Pepsi, Veg Fried Rice)
104  0.006758    (Chicken Kolapuri, Parota)
105  0.007095       (Chicken Kadai, Parota)
106  0.006082       (Chicken Curry, Parota)
107  0.007546      (Butter Chicken, Parota)

[108 rows x 2 columns]

In [24]:
rules = market_basket_analysis(encoded_df, 0.005, 0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Egg Parota),(Alu onion porota),0.070278,0.057552,0.008672,0.123397,2.144121,0.004628,1.075115,0.573944
1,(Alu onion porota),(Egg Parota),0.057552,0.070278,0.008672,0.150685,2.144121,0.004628,1.094672,0.566194
2,(Bread Omlet),(Roll Shawarma Only Chicken),0.039194,0.151368,0.006532,0.166667,1.101066,0.000600,1.018358,0.095534
3,(Butter Chicken),(Parota),0.011037,0.119270,0.007546,0.683673,5.732140,0.006229,2.784243,0.834759
4,(Chapathi),(Egg Burji),0.066449,0.023989,0.010362,0.155932,6.500103,0.008767,1.156318,0.906385
5,(Egg Burji),(Chapathi),0.023989,0.066449,0.010362,0.431925,6.500103,0.008767,1.643359,0.866954
6,(Paneer Tika Masala),(Chapathi),0.014303,0.066449,0.005068,0.354331,5.332377,0.004118,1.445866,0.824256
7,(Chapathi),(Parota),0.066449,0.119270,0.010925,0.164407,1.378440,0.002999,1.054017,0.294084
8,(Chicken Curry),(Parota),0.012727,0.119270,0.006082,0.477876,4.006669,0.004564,1.686822,0.760089
9,(Chicken Fried Rice),(Chicken Kabab),0.057552,0.151368,0.013628,0.236791,1.564333,0.004916,1.111925,0.382780
10,(Chicken Fried Rice),(Double Omlet),0.057552,0.045951,0.005857,0.101761,2.214554,0.003212,1.062133,0.581933
11,(Double Omlet),(Chicken Fried Rice),0.045951,0.057552,0.005857,0.127451,2.214554,0.003212,1.080109,0.574857
12,(Chicken Fried Rice),(Roll Shawarma Only Chicken),0.057552,0.151368,0.010024,0.174168,1.150625,0.001312,1.027608,0.138901
13,(Chicken Noodles),(Chicken Kabab),0.035477,0.151368,0.005969,0.168254,1.111553,0.000599,1.020301,0.104049
14,(Chicken Schezwan Fried Rice),(Chicken Kabab),0.029958,0.151368,0.005969,0.199248,1.316313,0.001434,1.059793,0.247723
15,(Double Omlet),(Chicken Kabab),0.045951,0.151368,0.008109,0.176471,1.165835,0.001153,1.030481,0.149097
16,(Chicken Kabab),(Egg Fried Rice),0.151368,0.081428,0.022750,0.150298,1.845771,0.010425,1.081051,0.539953
17,(Egg Fried Rice),(Chicken Kabab),0.081428,0.151368,0.022750,0.279391,1.845771,0.010425,1.177660,0.498841
18,(Egg Parota),(Chicken Kabab),0.070278,0.151368,0.007996,0.113782,0.751690,-0.002642,0.957588,-0.262160
19,(Chicken Kabab),(Parota),0.151368,0.119270,0.020160,0.133185,1.116662,0.002106,1.016052,0.123109
20,(Parota),(Chicken Kabab),0.119270,0.151368,0.020160,0.169027,1.116662,0.002106,1.021251,0.118622
21,(Pepsi),(Chicken Kabab),0.074445,0.151368,0.008560,0.114977,0.759586,-0.002709,0.958881,-0.254824
22,(Plate Shawarma Only Chicken),(Chicken Kabab),0.060705,0.151368,0.009798,0.161410,1.066339,0.000610,1.011974,0.066233
23,(Plate Shawarma Veg With Chicken),(Chicken Kabab),0.049443,0.151368,0.006082,0.123007,0.812632,-0.001402,0.967660,-0.195211
24,(Chicken Kabab),(Roll Shawarma Only Chicken),0.151368,0.151368,0.022750,0.150298,0.992926,-0.000162,0.998740,-0.008325
25,(Roll Shawarma Only Chicken),(Chicken Kabab),0.151368,0.151368,0.022750,0.150298,0.992926,-0.000162,0.998740,-0.008325
26,(Roll Shawarma Veg With Chicken),(Chicken Kabab),0.092578,0.151368,0.010699,0.115572,0.763513,-0.003314,0.959526,-0.254474
27,(Chicken Kadai),(Parota),0.010249,0.119270,0.007095,0.692308,5.804533,0.005873,2.862372,0.836292
28,(Chicken Kolapuri),(Parota),0.011488,0.119270,0.006758,0.588235,4.931956,0.005387,2.138915,0.806506
29,(Chicken Masala),(Parota),0.015204,0.119270,0.010925,0.718519,6.024293,0.009111,3.128909,0.846882
30,(Double Omlet),(Egg Fried Rice),0.045951,0.081428,0.005631,0.122549,1.504997,0.001890,1.046864,0.351708
31,(Egg Full Fry),(Egg Fried Rice),0.030409,0.081428,0.005969,0.196296,2.410671,0.003493,1.142924,0.603530
32,(Paneer Tika Masala),(Parota),0.014303,0.119270,0.007884,0.551181,4.621281,0.006178,1.962328,0.794981
33,(Plate Shawarma Only Chicken),(Pepsi),0.060705,0.074445,0.009911,0.163265,2.193090,0.005392,1.106151,0.579182
34,(Pepsi),(Plate Shawarma Only Chicken),0.074445,0.060705,0.009911,0.133132,2.193090,0.005392,1.083550,0.587780
35,(Pepsi),(Roll Shawarma Veg With Chicken),0.074445,0.092578,0.009010,0.121029,1.307317,0.002118,1.032368,0.253982
36,(Veg Fried Rice),(Pepsi),0.021962,0.074445,0.005068,0.230769,3.099849,0.003433,1.203221,0.692615

## Future Plans
- Implement FP growth and ECLAT algorithms
- Develop a proper data pipeline
- Experiment with ML techbiques like Collaborative filtering and Content-Based filtering